@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: darkgrey; */
  font-weight: normal;
  /* font-size: 19px; */
  }
  body{
    background-color: whitesmoke;
  }
  /***************/
  
  .service-wrp{
  background: #eaf0f2;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  }
  
  .service-wrp-inner{
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  
  .service-card{
  width: 32%;
  margin: 10px 0
  }
  
.service-card img{
  height: 90px;
}

  .service-card h4{
  font-size: 32px;
  font-weight: 300;
  line-height: 1.5;
  color: black;
  font-family: 'Akaya Telivigala', cursive;
  }
  
  .bg-dark{
  /* background-color: rgba(239, 19, 147, 0.02); */
  padding: 30px;
  }
  
  .d-flex{
  display: flex;
  align-items: center;
  margin-bottom: 20px
  }
  


  .service-card .icon{
	  margin-right: 15px;
	  /* width: 5%; */
    /* height: 200px;
    width: 200px; */
    

  }

  /* .heading{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
  } */

  .info{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 18px;
  }

.info a {
  background-color: rgb(3, 45, 73);
  color: white;
}
  .icon img{
    height: 70px;
  }
  .service-card .heading h5{
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3
  }
  
  .service-card .info{
  color: black;
  line-height: 1.7;
  	
  }
  
  .service-card .info-link{
	  color: #8090b5;
	  font-size: 12px
  }
  
  /***********/
  
  @media (max-width: 768px){
  .service-wrp {
  padding: 40px 15px;
  margin-top: 0
  }
  
  .service-card h4 {
  font-size: 26px;
  line-height: 1.3;
  }
  
  .service-wrp-inner {
  flex-direction: column;
  }
  
  .service-card {
  width: 100%;
  margin: 10px 0px;
  }
  
  /****/
  }


